<% [:notice, :error, :alert].each do |level| %>
  <% unless flash[:notice].blank? %>
    <div class="alert-message <%= flash_class(level) %>">
      <a class="close" href="#">×</a>
      <%= content_tag :p, flash[level] %>
    </div>
  <% end %>
<% end %>