<header>	
  <h1>
    <%= best_in_place @list, :title %>
  </h1>
 	 	
  <thead>
 	 	
    Tasks
 	 	
  </thead> 
 	 	
   <div class = "new_task_form">
      <%= render 'tasks/form' %>
    </div>	
</header