<div id="error_container">
    <div class="twelve columns">
      <% flash.keys.each do |key| %>
        <div class="<%= key %>"><%= flash[key] %></div>
      <% end %>
    </div><!-- //.twelve.columns -->
</div><!-- //.container -->